[submodule "libpam-web3"]
	path = libpam-web3
	url = https://github.com/mwaddip/libpam-web3
[submodule "blockhost-common"]
	path = blockhost-common
	url = https://github.com/mwaddip/blockhost-common
[submodule "blockhost-engine"]
	path = blockhost-engine
	url = https://github.com/mwaddip/blockhost-engine
[submodule "blockhost-broker"]
	path = blockhost-broker
	url = https://github.com/mwaddip/blockhost-broker
[submodule "blockhost-provisioner-proxmox"]
	path = blockhost-provisioner-proxmox
	url = https://github.com/mwaddip/blockhost-provisioner-proxmox
[submodule "blockhost-provisioner-libvirt"]
	path = blockhost-provisioner-libvirt
	url = https://github.com/mwaddip/blockhost-provisioner-libvirt.git
[submodule "facts"]
	path = facts
	url = https://github.com/mwaddip/blockhost-facts
[submodule "blockhost-engine-opnet"]
	path = blockhost-engine-opnet
	url = https://github.com/mwaddip/blockhost-engine-opnet
